@model Abc.Northwind.MvcWebUI.Models.CartListViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Layout.cshtml";
}

<h2 class="pt-4">Your Cart</h2>

<table class="table-responsive table-hover">
    <thead>
    <tr>
        <th class="pr-5">Product Name</th>
        <th class="pr-5">Unit Price</th>
        <th class="pr-5">Units In Stock</th>
        <th class="pr-5">Quantity</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.Cart.CartLines){
        <tr>
            <td class="pr-5">@item.Product.ProductName</td>
            <td class="pr-5">@item.Product.UnitPrice</td>
            <td class="pr-5">@item.Product.UnitsInStock</td>
            <td class="pr-5">@item.Quantity</td>
            <td class="text-right"><a class="btn btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-productId="@item.Product.ProductId"><span class="glyphicon glyphicon-remove">remove from cart</span></a></td>
        </tr>
    }
    </tbody>
</table>
<div class="dropdown-divider"></div>
<div>
<p class="float-left pr-3">Total:@Model.Cart.Total</p>
    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-warning">Continue Shopping</a>
    <a asp-controller="Cart" asp-action="Complete" class="btn btn-outline-success">Go to Checkout</a>
</div>
